.container{
    max-width: 1200px ;
    margin: 0 auto;
}

.project-text{
    color: #5B7D9A;
    font-family: "karla", sans-serif;
    font-size: 1.1em;
}

.project-text p:first-of-type {
    color: #5B7D9A;
    font-weight: bold;
}

header{
    height: 50vh;
}

.text-30{
    font-size: 1.2em;
    font-family: "karla", sans-serif;
}